/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/*MY CODE STARTS HERE */
html {
  font-size: 62.5%;
}
html {
  background-color: silver;
  display: flex;
  justify-content: center;
}
body {
  width: 80%;
  background-color: white;
}
header {
  height: 33%;
  width: auto;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  margin: 2% 0;
}
header nav a {
  font-size: 3rem;
  text-decoration: none;
  color: gray;
}
header nav a:hover {
  text-decoration: none;
  color: black;
}
header .name {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 30%;
  max-width: auto;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 6rem;
  padding: 1%;
}
header .title {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 30%;
  max-width: auto;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 4rem;
}
header .location {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 30%;
  max-width: auto;
  font-family: 'Averia Serif Libre', cursive;
}
.mid-section {
  background-color: lightslategray;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-top-left-radius: 50px;
  border-top: 2px solid black;
}
.mid-section .placeholder1 {
  width: 33%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid-section .placeholder1 .headshot {
  width: 90%;
  height: auto;
  max-height: 500px;
  max-width: 333px;
  margin: 6%;
  border-radius: 40px;
  border-bottom-right-radius: 0;
  border: 1px solid darkslategray;
}
.mid-section .placeholder2 {
  width: 67%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Averia Serif Libre', cursive;
}
.mid-section .placeholder2 .box1 {
  height: 30%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
}
.mid-section .placeholder2 .split1 {
  height: 80%;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  display: flex;
}
.mid-section .placeholder2 .split1 .box2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.mid-section .placeholder2 .split1 .box2 h3 {
  font-size: 3rem;
  text-align: center;
  font-size: 4rem;
  padding: 6%;
}
.mid-section .placeholder2 .split1 .box2 p {
  font-size: 3rem;
  text-align: center;
  font-size: 2rem;
  padding: 0 5% 0 5%;
  text-align: justify;
}
.mid-section .placeholder2 .split1 .box3 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.mid-section .placeholder2 .split1 .box3 h3 {
  font-size: 4rem;
  padding: 6%;
}
.mid-section .placeholder2 .split1 .box3 i {
  font-size: 4rem;
}
.mid-section .placeholder2 .split1 .box3 .box3-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;
  margin-left: 27%;
}
.mid-section .placeholder2 .split1 .box3 .box3-1 p {
  padding: 5%;
}
.mid-section .placeholder2 .split1 .box3 .box3-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;
  margin-left: 29%;
}
.mid-section .placeholder2 .split1 .box3 .box3-2 p {
  padding: 5%;
}
.mid-section .placeholder2 .split1 .box3 .box3-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;
  margin-left: 30%;
}
.mid-section .placeholder2 .split1 .box3 .box3-3 p {
  padding: 5%;
}
.bottom-section {
  background-color: #708090;
  height: 35%;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.bottom-section .placeholder3 {
  width: 67%;
  height: auto;
  font-family: 'Averia Serif Libre', cursive;
}
.bottom-section .placeholder3 h3 {
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  padding-top: 6%;
  padding-bottom: 2%;
}
.bottom-section .placeholder3 p {
  font-size: 3rem;
  text-align: center;
  font-size: 2rem;
  padding: 0 5% 0 5%;
  text-align: justify;
}
.bottom-section .placeholder4 {
  width: 34%;
  height: auto;
  font-family: 'Averia Serif Libre', cursive;
}
.bottom-section .placeholder4 h3 {
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  padding: 6%;
}
.bottom-section .placeholder4 p {
  font-size: 3rem;
  font-size: 2rem;
  padding: 0 5% 0 5%;
  text-align: center;
}
footer {
  height: 15%;
  width: auto;
  background-color: white;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}
footer nav a {
  font-size: 3rem;
  text-decoration: none;
  color: gray;
}
footer nav a:hover {
  text-decoration: none;
  color: black;
}
footer div {
  font-size: 3rem;
  text-align: center;
  font-size: 1.4rem;
}
